<%- first_new_form = @poll.new_record? && params[:poll].nil? -%>
<%- form_for [:admin, @poll] do |f| -%>
  <div class="form-area">
    <div id="poll_form_area">
      <p class="title">
        <label for="poll_title"><%= t('polls_form.label.title') %></label>
        <%= f.text_field :title %>
      </p>
      <p class="title">
        <label for="poll_start_date"><%= t('polls_form.label.start_date') %></label>
        <%= f.text_field :start_date, :size => 15 %>
      </p>
      <p class="title">
        <label for="poll_options" id="options-title"><%= t('polls_form.label.options') %></label>
        <div id="options">
          <%- if first_new_form -%>
            <p class="option"><input type="text" name="poll[option_attributes][][title]" size="30" /></p>
          <%- end -%>
          <%= render :partial => 'option', :collection => @poll.options %>
        </div>
        <p id="add-option"><%= link_to_function(t('polls_form.label.add_option'), "add_option('options');") %></p>
      </p>
    </div>
  </div>
  <%= javascript_tag "document.observe('dom:loaded',initialize_page_view);" %>
  <%- if first_new_form -%>
    <%= javascript_tag "$('poll_title').activate();" %>
  <%- end -%>
  <p class="buttons">
    <%= save_model_button(@poll) %>
    <%= t('or') %>
    <%= link_to(t('cancel'), admin_polls_url) %>
  </p>
<%- end -%>
