      <% fields_for "poll[option_attributes][]", option do |f| %>
        <p class="option" id="option_<%= option.id %>">
          <%= f.text_field :title, :index => nil %>
          <%= f.hidden_field :id, :index => nil %>
          <%= f.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
          <%= link_to_function "Delete", "delete_option(#{option.id}, 'options')" %>
        </p> 
      <% end %> 
