<% include_stylesheet 'admin/polls' %>

<h1><%= t('polls_index.title') %></h1>

<p><%= t('polls_index.instructions') %></p>

<table id="polls" class="index">
  <thead>
    <tr>
      <th class="title"><%= t('polls_index.column.title') %></th>
      <th class="date"><%= t('polls_index.column.start_date') %></th>
      <th class="responses"><%= t('polls_index.column.responses') %></th>
      <th class="modify" colspan="2"><%= t('modify') %></th>
    </tr>
  </thead>
  <tbody>
    <%- if @polls.empty? -%>
      <tr>
        <td class="note" colspan="5">
          <%= t('polls_index.empty') %>
        </td>
      </tr>
    <%- else -%>
      <%- @polls.each do |poll| -%>
        <tr class="node level-1">
          <td class="poll">
            <%= image('polls/poll') %>
            <%= link_to(h(poll.title), edit_admin_poll_url(poll)) %>
          </td>
          <td class="date">
            <%= h poll.start_date %>
          </td>
          <td class="responses">
            <%# Don't display Results link if there aren't any responses -%>
            <%- if poll.response_count > 0 -%>
              <%= link_to_function number_with_delimiter(poll.response_count) do |page| page.visual_effect :toggle_blind, "poll_#{poll.id}_results" end %></td>
            <%- else -%>
              <span class="none"><%= poll.response_count %></span>
            <%- end -%>
          </td>
          <td class="reset">
            <%# Don't display Clear Responses link if there aren't any responses to clear -%>
            <%- unless poll.options.find(:all, :conditions => ["response_count >= 1"]).empty? -%>
              <%# link_to(image('polls/reset', :alt => t('polls_index.reset')), clear_responses_admin_poll_url(poll), :method => :post, :confirm => t('polls_index.reset_confirm')) %>
              <%= link_to(t('polls_index.reset'), clear_responses_admin_poll_url(poll), :method => :post, :confirm => t('polls_index.reset_confirm')) %>
            <%- end -%>
          </td>
          <td class="remove">
            <%= link_to(t('remove'), admin_poll_url(poll), :method => :delete, :confirm => t('polls_index.delete_confirm')) %>
          </td>
        </tr>
        <%- if poll.response_count > 0 -%>
          <tr>
            <td colspan="5">
              <div id="poll_<%= poll.id %>_results" class="results" style="display: none;">
                <strong><%= t('poll_index.results') %></strong>
                <table>
                  <% poll.options.sort{|a,b| b.response_count <=> a.response_count}.each do |option| %>
                    <tr>
                      <td><strong><%= h option.title %></strong></td>
                      <td><%= option.response_count %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </td>
          </tr>
        <%- end -%>
      <% end -%>
    <% end -%>
  </tbody>
</table>

<p>
  <%= link_to(image('polls/new-poll', :alt => t('polls_action.new')), new_admin_poll_url) %>
</p>
