
<h1>Polls</h1>
<% if @polls.empty? -%>
  <i style="color: #ccc;">You have not created any polls.  Use the link below to get started.</i>
<% else -%>
  <table id="polls" class="index" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Option</th>
        <th>Responses</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @polls.each do |poll| -%>
      <tr>
        <td>
          <%= poll.title %>
        </td>
        <td class="center">
          <%# Don't display Results link if there aren't any responses -%>
          <% if poll.response_count != 0 %>
            <%= link_to_function poll.response_count do |page| page.visual_effect :toggle_blind, "poll_#{poll.id}_results" end %></td>
          <% else %>
            <%= poll.response_count %>
          <% end %>
        <td>
          <%# Don't display Clear Responses link if there aren't any responses to clear -%>
          <% unless poll.options.find(:all, :conditions => ["response_count >= 1"]).empty? %>
            <%= link_to('Clear Responses', {:action => :clear_responses, :id => poll.id}, :confirm => "Really clear poll responses?") %>
          <% end %>
        </td>
        <td>
          <%= link_to('Edit', :action => :edit, :id => poll) %>
        </td>
        <td>
          <%= link_to "Remove", {:action => :destroy, :id => poll}, :confirm => "Really delete this poll?", :class => :remove %>
        </td>
      </tr>
      <% if poll.response_count != 0 %>
      <tr>
        <td colspan="6">
          <div id="poll_<%= poll.id %>_results" class="results" style="display: none;">
            <strong>Results</strong>
            <table>
              <% poll.options.sort{|a,b| b.response_count <=> a.response_count}.each do |option| %>
                <tr>
                  <td><strong><%= option.title %></strong>:</td>
                  <td><%= option.response_count %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </td>
      </tr>
      <% end -%>
    <% end -%>
    </tbody>
  </table>
<% end -%>

<br/><br/>
<%= link_to "Create Poll", :action => :new %>
